
{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="/static/bootstrap/css/dess.css">
    <style >
       
    </style>
    
    <h1 style="text-align: center;font-family: bignoodletitling;
    margin: 25px;">Deserts</h1>
    <section class="deserts">
        <div class="desert">
            <img src="/static/images/#.png" >
            <h3>#</h3>
            <button>Order</button>
        </div>
        <div class="item">
            <img src="/static/images/#.png" >
            <h3>#</h3>
            <button>Order</button>
        </div>
        <div class="item">
            <img src="/static/images/#.jpg" >
            <h3>espresso</h3>
            <button>Order</button>
        </div>
        <div class="item">
            <img src="/static/images/#.png" >
            <h3>#</h3>
            <button>Order</button>
        </div>
        <div class="item">
            <img src="/static/images/#.jpg" >
            <h3>#</h3>
            <button>Order</button>
        </div>
    </section>
{% endblock%}
